* {
  padding: 0;
  margin: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap");
// font-family: 'Rubik Doodle Shadow', system-ui;
@import url("https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap");
// font-family: 'Rubik Bubbles', system-ui;
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
// font-family: 'Indie Flower', cursive;
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
// font-family: 'Pacifico', cursive;
@import url("https://fonts.googleapis.com/css2?family=Long+Cang&display=swap");
// font-family: 'Long Cang', cursive;
@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");
// font-family: 'Patrick Hand', cursive;
@import url("https://fonts.googleapis.com/css2?family=Macondo&display=swap");
// font-family: 'Macondo', cursive;
@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");
// font-family: 'Architects Daughter', cursive;
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
// font-family: 'Dancing Script', cursive;
@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");
// font-family: 'Caveat', cursive;
@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");
// font-family: 'Shadows Into Light', cursive;
@import url("https://fonts.googleapis.com/css2?family=Sevillana&display=swap");
// font-family: 'Sevillana', cursive;
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
// font-family: 'Permanent Marker', cursive;
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
// font-family: 'Satisfy', cursive;
@import url("https://fonts.googleapis.com/css2?family=DotGothic16&display=swap");
// font-family: 'DotGothic16', sans-serif;
@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");
// font-family: 'Sacramento', cursive;
@import url("https://fonts.googleapis.com/css2?family=Cookie&display=swap");
// font-family: 'Cookie', cursive;
@import url("https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap");
// font-family: 'Gloria Hallelujah', cursive;
@import url("https://fonts.googleapis.com/css2?family=Passions+Conflict&display=swap");
// font-family: 'Passions Conflict', cursive;
@import url("https://fonts.googleapis.com/css2?family=Silkscreen&display=swap");
// font-family: 'Silkscreen', sans-serif;
@import url("https://fonts.googleapis.com/css2?family=WindSong&display=swap");
// font-family: 'WindSong', cursive;
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
// font-family: 'Press Start 2P', system-ui;
@import url("https://fonts.googleapis.com/css2?family=Creepster&display=swap");
// font-family: 'Creepster', system-ui;
@import url("https://fonts.googleapis.com/css2?family=Titan+One&display=swap");
// font-family: 'Titan One', sans-serif;

html {
  height: 100%;
  scroll-behavior: smooth;
  font-size: 24px;
  font-family: "Roboto", sans-serif;
}

body {
  height: 100%;
  width: 100%;
  // background: linear-gradient(rgb(252, 252, 239), rgb(121, 208, 255));
  display: flex;
  flex-direction: column;
  background-image: url("./assets/pics/background/snowman_background_01.PNG");
  background-repeat: no-repeat;
  background-size: cover;
  animation-name: backgroundForestAnim;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  display: flex;
  flex-direction: column;
}

body::-webkit-scrollbar {
  width: 15px;
}

body::-webkit-scrollbar-track {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
}

body::-webkit-scrollbar-thumb {
  background: linear-gradient(lightgreen, green);
  border-radius: 20px;
  outline: 1px solid transparent;
}

.snowman {
  &_keyboard {
    width: 100%;
  }

  &_wrapper {
    width: 90vw;
    max-width: 1000px;
    min-width: 360px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &_keyboard {
    flex: 1 0 auto;
  }

  &_keyboard_wrapper {
    width: 100%;
  }

  &_keyboard_body {
    // background-color: rgb(255, 248, 239);
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    // row-gap: 20px;
    max-width: 1000px;
    min-width: 300px;
    margin: 0 auto;
    background-color: rgba(245, 245, 245, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    box-shadow: 0 5px 45px rgba(0, 0, 0, 0.1);
  }

  &_keyboard_letter {
    width: 8%;
    aspect-ratio: 1 / 1;
    background-color: lightgreen;
    border: 1px solid green;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    font-family: "Patrick Hand", cursive;
    transition: all 0.2s ease-in-out;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5), inset green 0px 0px 20px 0px;
    margin: 5px;
    user-select: none;

    &:hover {
      cursor: pointer;
      background-color: green;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.8),
        inset rgb(1, 43, 1) 0px 0px 20px 0px;
    }

    &:active {
      cursor: pointer;
      background-color: red;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.8), inset darkred 0px 0px 20px 0px;
      border: 1px solid darkred;
    }
  }

  &_title {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
  }

  &_title_text {
    font-size: 1.8rem;
    font-family: "Rubik Bubbles", system-ui;
    color: mediumvioletred;
    text-align: center;
  }

  &_sound_wrapper {
    width: 40%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  &_sound {
    width: 20%;
    aspect-ratio: 1 / 1;
    background-image: url("./assets/icons//bell-christmas-eve.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    transform-origin: top center;
    transform: rotate(0deg);

    &:hover {
      cursor: pointer;
    }
  }

  &_sound_name {
    font-family: "Architects Daughter", cursive;
    font-size: 0.8rem;
    text-align: center;
  }

  &_audiolist {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &_songicons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
  }

  &_pushishka {
    width: 10%;
    aspect-ratio: 1 / 1;
    background-image: url("./assets/pics/pushishka_01.png");
    background-repeat: no-repeat;
    background-size: contain;
  }

  &_restart {
    width: 10%;
    aspect-ratio: 1 / 0.5;
    border-radius: 10px;
    border: 1px solid green;
    background: linear-gradient(lightgreen, lightgreen);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5), inset green 0px 0px 15px 0px;
    transition: all 0.2s ease-in-out;
    text-transform: uppercase;
    font-family: "Patrick Hand", cursive;
    font-size: 0.8rem;

    &:hover {
      cursor: pointer;
      background: linear-gradient(plum, orchid);
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.6), inset purple 0px 0px 15px 0px;
      border: 1px solid darkmagenta;
    }

    &:active {
      cursor: pointer;
      background: linear-gradient(lightpink, hotpink);
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.8), inset deeppink 0px 0px 15px 0px;
      border: 1px solid mediumvioletred;
    }
  }

  &_snowman {
    width: 30%;
    aspect-ratio: 1 / 1;
    background-image: url("./assets/pics/snowman/snowman_full.png");
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    max-width: 380px;
    min-width: 150px;
    background-position: center center;
  }

  &_lives {
    width: 50vw;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  &_heart {
    width: 10%;
    aspect-ratio: 1 / 1;
    background-image: url("./assets/icons/heart.svg");
    background-repeat: no-repeat;
    background-size: contain;
    transform: scale(1);
    animation-name: heartAnim;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    max-width: 60px;
    min-width: 30px;
  }

  &_footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
    overflow: hidden;
    margin-top: 20px;
  }

  &_orange {
    width: 10%;
    aspect-ratio: 1 / 1;
    background-image: url("./assets/pics/orange.svg");
    background-repeat: no-repeat;
    background-size: contain;
    align-self: right;
    max-width: 150px;
    min-width: 80px;
    transform: translateX(0vw) rotate(0deg);

    &:hover {
      cursor: pointer;
    }
  }

  &_credentials {
    display: flex;
    flex-direction: column;
  }

  &_info {
    text-decoration: none;
    font-size: 1.5rem;
    font-family: "Long Cang", cursive;
    color: darkslateblue;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: black;
  }

  &_creator_icon {
    width: 4vw;
    aspect-ratio: 1 / 1;
    max-width: 50px;
    min-width: 30px;
    background-image: url("./assets/icons/tiny_fox.png");
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
  }

  &_word {
    width: 50vw;
    height: 50px;
    // background-color: bisque;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }

  &_question {
    font-size: 1.2rem;
    text-align: center;
    font-family: "Architects Daughter", cursive;
    text-shadow: 0 0 10px lightblue, 0 0 5px lightseagreen;
    animation-name: questionAnim;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
  }

  &_answer_letter {
    // border-bottom: 2px solid mediumvioletred;
    font-size: 1.2rem;
    text-transform: uppercase;
    background-image: url("./assets/pics/cupcake.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 80%;
    aspect-ratio: 1 / 1;
    max-width: 60px;
    min-width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;
    filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.4));
    user-select: none;
  }

  &_yep {
    position: relative;
    font-size: 0.6rem;
    visibility: hidden;
    right: 0;
    text-align: center;
    color: snow;
    text-shadow: 0 0 20px hotpink, 0 0 10px hotpink, 0 0 5px hotpink;
    transform: translateX(150%);
    width: 50%;
    aspect-ratio: 1 / 0.65;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &_yep::after {
    content: "";
    background-image: url("./assets/icons/cloud.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.4;
  }
}

.snowman_songicon {
  width: 30%;
  aspect-ratio: 1 / 1;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;

  &:hover {
    cursor: pointer;
  }

  &.jingle {
    background-image: url("./assets/icons/santa-and-reindeer.svg");
  }

  &.ballet {
    background-image: url("./assets/icons/ballet.svg");
  }

  &.train {
    background-image: url("./assets/icons/train.svg");
  }
}

.snowman_orange.anim_forward {
  animation-name: orangeAnim;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.snowman_orange.anim_backward {
  animation-name: orangeAnimBack;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.snowman_sound.anim {
  animation-name: bellAnim;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.snowman_info.rsschool {
  width: 10vw;
  aspect-ratio: 1 / 0.4;
  max-width: 130px;
  min-width: 80px;
  background-image: url("./assets/icons/logo-rsschool_ny.png");
  background-repeat: no-repeat;
  background-size: contain;
}

@keyframes heartAnim {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes noBeating {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes questionAnim {
  0% {
    text-shadow: 0 0 10px lightblue, 0 0 5px lightseagreen;
  }
  25% {
    text-shadow: 0 0 10px pink, 0 0 5px deeppink;
  }
  50% {
    text-shadow: 0 0 10px lightcoral, 0 0 5px coral;
  }
  75% {
    text-shadow: 0 0 10px lightgreen, 0 0 5px green;
  }
  100% {
    text-shadow: 0 0 10px lightblue, 0 0 5px lightseagreen;
  }
}

@keyframes orangeAnim {
  0% {
    transform: translateX(0vw) rotate(0deg);
  }
  100% {
    transform: translateX(-50vw) rotate(-360deg);
  }
}

@keyframes orangeAnimBack {
  0% {
    transform: translateX(-50vw) rotate(-360deg);
  }
  100% {
    transform: translateX(0vw) rotate(0deg);
  }
}

@keyframes bellAnim {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(30deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-30deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes backgroundForestAnim {
  0% {
    background-image: url("./assets/pics/background/snowman_background_01.PNG");
  }
  10% {
    background-image: url("./assets/pics/background/snowman_background_02.PNG");
  }
  15% {
    background-image: url("./assets/pics/background/snowman_background_02.PNG");
  }
  20% {
    background-image: url("./assets/pics/background/snowman_background_01.PNG");
  }
  25% {
    background-image: url("./assets/pics/background/snowman_background_03.PNG");
  }
  30% {
    background-image: url("./assets/pics/background/snowman_background_03.PNG");
  }
  35% {
    background-image: url("./assets/pics/background/snowman_background_01.PNG");
  }
  40% {
    background-image: url("./assets/pics/background/snowman_background_04.PNG");
  }
  45% {
    background-image: url("./assets/pics/background/snowman_background_04.PNG");
  }
  50% {
    background-image: url("./assets/pics/background/snowman_background_01.PNG");
  }
  55% {
    background-image: url("./assets/pics/background/snowman_background_01.PNG");
  }
  60% {
    background-image: url("./assets/pics/background/snowman_background_05.PNG");
  }
  65% {
    background-image: url("./assets/pics/background/snowman_background_05.PNG");
  }
  70% {
    background-image: url("./assets/pics/background/snowman_background_01.PNG");
  }
  100% {
    background-image: url("./assets/pics/background/snowman_background_01.PNG");
  }
}

.snowman_volume_control {
  -webkit-appearance: none;
  appearance: none;
  //transform: rotate(90deg);
  width: 8px;
  height: 80px;
  // appearance: slider-vertical;
  writing-mode: vertical-lr;
  border-radius: 5px;
}

.snowman_volume_control::-webkit-slider-thumb {
  writing-mode: vertical-lr;
  height: 30px;
  width: 30px;
  border-radius: 5px;
  // background: #ffffff;
  background-image: url("./assets/icons/snowflakes/snowflake-6.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
}

/* input[type="range"] {
    accent-color: #f55050;
} */
